body {
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
}

.header,
.hero,
.footer {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  flex-basis: 63.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-main-text,
.header-text,
.button,
.action-main-text {
  color: #F9FAF8;
}

.header-text {
  font-size: 1.5em;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1.7vw;
}

a {
  text-decoration: none;
}

a,
.hero-subtext,
.action-subtext {
  color: #E5E7EB;
  font-size: 1.125em;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero-container {
  flex-basis: 63.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18.5vh 0;
}

.hero-text-container {
  flex-basis: 26vw;
}

.hero-main-text {
  font-size: 3em;
  font-weight: 900;
}

.hero-subtext {
  margin-bottom: 3vh;
}

button,
.banner {
  background-color: #3882F6;
}

button {
  border-radius: 10px;
  border: none;
  padding: 8px 32px;
  color: #F9FAF8;
  font-size: 1.125em;
  font-weight: bold;
}

.hero img {
  height: 25vh;
  width: 31.25vw;
  object-fit: cover;
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6vh 0 12vh;
}

.info-title {
  font-size: 2.25em;
  font-weight: 900;
  color: #1F2937;
  margin-bottom: 6vh;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.3vw;
}

.info-item img,
.caption {
  width: 180px;
}

.info-item img {
  box-sizing: border-box;
  height: 180px;
  object-fit: cover;
  border: 4px solid #3882F6;
  border-radius: 10px;
}

.caption {
  text-align: center;
  color: #505050;
  font-size: 1.125em;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
}


.quote-container {
  flex-basis: 43.2vw;
  margin: 9.25vh 0;
}

.quote-text {
  font-size: 2.25em;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.quote-owner {
  text-align: right;
  font-weight: bold;
  font-size: 1.375em;
  margin-right: 1.6vw;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  flex-basis: 63.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.6vh 4.2vw;
}

.banner button {
  border: 1px solid #F9FAF8;
}
